$containerMaxWidth: 1010px;
$whiteColor: #fff;
$blackColor: #000;
$grayColor: #00000075;
$blueColor: #004685;
$redColor: #d30531;
$redHoverColor: #e1133f;
$borderColor: #00468575;
$lightBlueColor: #00468533;
$hoverColor: #569ddc;
$navBgColor: rgba(255, 255, 255, 0.95);
$closeBtnColor: rgba(0, 0, 0, 0.25);
$boxShadowBurgerColor: #00000029;
$boxShadowTooltipColor: #00000033;
$overlayColor: #000000cc;
$offsetPartners: 1;
$colGapPartners: 24px;
$rowGapPartners: 32px;


